.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

mat-card {
    width: 40%;
    padding: 2em;
    background-color: #D3D3D3;
}

#motivo {
    width: 20vw;
}

#coment {
    width: 20vw;

}
form {
    display: grid;
    margin: 0 auto;
    gap: 20px;
}

.checkbox {
    display: flex;
    margin-bottom: 40px;
}

#checkbox {
    margin-left: 20px;
}

.botoes {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}