<div class="container">
    <mat-card>
        <h1>Encerrar chamado</h1>
        <form [formGroup]="formEncerrar">
            <div>
                <mat-form-field id="motivo">
                    <mat-label>Insira o número do chamado</mat-label>
                    <input matInput formControlName="numChamado">
                </mat-form-field>
            </div>
            <div>
                <p>SELECIONE O MOTIVO DO ENCERRAMENTO:</p>
                <mat-checkbox color="primary" formControlName="chamadoIncorreto">Chamado aberto incorretamente</mat-checkbox>
                <mat-checkbox id="checkbox" color="primary" formControlName="chamadoJaResolvido">Chamado Resolvido</mat-checkbox>
            </div>
            <div>
                <mat-form-field id="coment">
                    <mat-label>Se desejar, insira um comentário: </mat-label>
                    <input matInput formControlName="comentario">
                </mat-form-field>
            </div>
        </form>
        <div class="botoes">
            <button mat-stroked-button (click)="emitir()">Salvar</button>
            <button mat-stroked-button>Cancelar</button>
        </div>
    </mat-card>
</div>
