<div class="container">
    <mat-card>
        <form [formGroup]="formAcompanharChamado">
            <div>
                <mat-form-field>
                    <mat-label>Insira o número do chamado</mat-label>
                    <input matInput formControlName="numChamado">
                </mat-form-field>
                <button id="chamado" mat-stroked-button>
                    <mat-icon>search</mat-icon>Pesquisar
                </button>    
            </div>
        </form>
    </mat-card>
</div>
