<div class="container">
    <mat-card>
        <h1>Acompanhar Chamado</h1>
        <form [formGroup]="formAcompanharChamado">
            <div class="identificacao">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nomeUsuario">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput mask="(00) 0000-0000||(00) 0 0000-0000" formControlName="telUsuario">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Data criação</mat-label>
                    <input matInput formControlName="dataCriacao">
                </mat-form-field>
            </div>
            <div class="dadosChamado">
                <mat-form-field>
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="titulo">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Status do chamado</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="EM_ESPERA">Em espera</mat-option>
                        <mat-option value="EM_ANDAMENTO">Em andamento</mat-option>
                        <mat-option value="FINALIZADO">Finalizado</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Atendente</mat-label>
                    <input matInput formControlName="atendente">
                </mat-form-field>
            </div>
            <editor [disabled]="true" formControlName="descricao" apiKey="mlxgjx1u6yuxdf28eokp3f9gwyqixz0glzrwzjrb9b6fvxaf" [init]="{max_height: 320}"></editor>

        </form>
        <div class="botoes">
            <button (click)="deleteChamado()" *ngIf="user.role === 'USER' && chamado.status !== 'FINALIZADO'" mat-stroked-button color="warn">
                <mat-icon>cancel</mat-icon> Cancelar chamado
            </button>
            <div class="voltar_salvar_btn">
                <button *ngIf="user.role !== 'USER', else userButton" routerLink="/acompanhar-chamados/{{userId}}" mat-stroked-button>
                    <mat-icon>reply</mat-icon> Voltar
                </button>
                <ng-template #userButton>
                    <button routerLink="/tabela/{{userId}}" mat-stroked-button>
                        <mat-icon>reply</mat-icon> Voltar
                    </button>
                </ng-template>
                <button (click)="updateChamado()" *ngIf="user.role !== 'USER' && chamado.status !== 'FINALIZADO'" mat-stroked-button>
                    <mat-icon>save</mat-icon> Salvar
                </button>
            </div>
        </div>
    </mat-card>
</div>