.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
mat-card {
    width: 50%;
    padding: 2em;
    background-color: #D3D3D3;
}

.botoes {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.identificacao {
    display: flex;
    justify-content: space-between;
}

.dadosChamado {
    display: flex;
    justify-content: space-between;
}

.voltar_salvar_btn {
    display: flex;
    gap: 10px;
}

.addComent {
    margin-top: 1.5em;
    display: flex;
    gap: 15px;
}

table {
    width: 100%;
    margin: 0 auto;
}