.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.botoes {
    display: grid;
    width: 20vw;
    gap: 40px;
}

mat-card {
    height: auto;
    padding: 4em;
    background-color: #D3D3D3;
}